- if user_signed_in?
  %header.navbar
    %a.navbar-brand
      Rails Bugmash
      %i.icon-bug
      TLV
    %ul.nav.navbar-nav
      %li
        = link_to issues_path do
          %i.icon-list-ul
          %span Issues
      %li
        = link_to starred_issues_path do
          %i.icon-star
          %span Starred Issues
      %li
        = link_to leaderboard_issues_path do
          %i.icon-trophy
          %span Leaderboard
      %li
        = link_to 'http://webchat.freenode.net/?channels=%23bugmash&uio=d4' do
          %i.icon-comments
          %span IRC
      %li
        = link_to 'http://guides.rubyonrails.org/contributing_to_ruby_on_rails.html#contributing-to-the-rails-code' do
          %i.icon-book
          %span Getting Started Guide

    %ul.pull-right.nav.navbar-nav
      %li.dropdown
        %a.navbar-link.dropdown-toggle{:href => '#', :data => {:toggle => 'dropdown'}}
          = avatar(current_user)
          = current_user.name
          %b.caret
        %ul.dropdown-menu
          %li
            = link_to 'Sign Out', sign_out_path